/* :root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
@import url("https://fonts.googleapis.com/css2?family=Jacques+Francois:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Times+New+Roman:wght@400;700&display=swap");

.root {
  /* fonts */
  --font-times-new-roman: "Times New Roman";
  --font-inter: Inter;
  --head-font: "Jacques Francois";
  --font-poppins: Poppins;
  --font-roboto: Roboto;
  --font-inria-serif: "Inria Serif";

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-lg: 18px;
  --font-size-base: 16px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-59xl: 78px;
  --font-size-9xl: 28px;
  --font-size-mini: 15px;
  --font-size-smi: 13px;
  --font-size-45xl: 64px;
  --font-size-10xl-3: 29.3px;

  /* Colors */
  --accent-white: #fff;
  --secondary-burgundy: #b12930;
  --accent-black: #010101;
  --color-dimgray-100: #727273;
  --color-dimgray-200: #585858;
  --color-black: #000;
  --rd: #e5e5e5;
  --nd: #6246e5;
  --st: #ff7152;

  /* Border radiuses */
  --br-9xs: 4px;
  --br-21xl: 40px;
  --br-26xl: 45px;
  --br-xl: 20px;
  --br-31xl: 50px;
  --br-3xs: 10px;
}
.container {
  /* background-image: url("../Images//header_left_circle.png"); */
  background-repeat: no-repeat;
  background-position: left;
  width: 100%;
}
.logo {
  color: var(--accent-black);
}

.MuiTabs-root {
  width: 100% !important;
}

.MuiTabs-flexContainer {
  display: flex !important;
  justify-content: space-around !important;
}

.css-1aquho2-MuiTabs-indicator {
  height: 0px !important;
}
/* Four category tabs */
.css-837qtk-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #b12930 !important;
  border: 2px solid #b12930;
  font-family: "Jacques Francois";
  font-size: 20px;
}
.tab1 {
  color: #b12930 !important;
  border: 2px solid #b12930;
}
.tab0 {
  color: #000000 !important;
}
.css-837qtk-MuiButtonBase-root-MuiTab-root:hover {
  border-bottom: 2px solid #b12930;
  color: #b12930 !important;
  font-family: "Jacques Francois";
  font-size: 20px;
}
.css-837qtk-MuiButtonBase-root-MuiTab-root {
  color: black !important;
  font-family: "Jacques Francois";
  font-size: 20px;
}
.plans_tabs::selection {
  color: #6246e5;
}

/* social Media Link Classess */
.SvgClass:hover {
  fill: white;
  cursor: pointer;
}
.SvgClass:hover .IconClass {
  fill: red;
}

.homeImage_1 {
  /* width: 80%; */
  z-index: 3;
}
.homeImage_2 {
  /* width: 40%; */
  margin-left: -7vw;
  z-index: 5;
}

/* Svg Icon */
svg {
	height: 23rem;
	margin-right: 4rem;
}

.envelope {
  animation: float 2s ease-in-out infinite;
  fill: #b12930;
}

#star1, #star2, #star3, #star4, #star5, #star6 {
  animation: blink 1s ease-in-out infinite;
}
#star2 { animation-delay: 100ms; }
#star3 { animation-delay: 500ms; }
#star4 { animation-delay: 700ms; }
#star5 { animation-delay: 300ms; }
#star6 { animation-delay: 200ms }

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}



/* .dotImage_1{
  width: 20%;
  position: absolute;
  top: 0vw;
  right: 12vw,
} */
/* .dotImage_2{
  width: 20%;
  position: absolute;
  bottom: 4vw;
  right: 12vw;
  transform: scaleY(-1);
} */

.homeImage_1 {
  --s: 15px; /* size of the frame */
  --b: 2px; /* border thickness */
  --w: 35vw; /* width of the image */
  --c: #ffffff;

  width: var(--w);
  aspect-ratio: 1;
  object-fit: cover;
  padding: calc(2 * var(--s));
  --_g: var(--c) var(--b), #81818100 0 calc(100% - var(--b)), var(--c) 0;
  background: linear-gradient(var(--_g)) 50%/100% var(--_i, 100%) no-repeat,
    linear-gradient(90deg, var(--_g)) 50% / var(--_i, 100%) 100% no-repeat;
  outline: calc(var(--w) / 2) solid rgba(134, 134, 134, 0.165);
  outline-offset: calc(var(--w) / -2 - 2 * var(--s));
  transition: 0.4s;
  cursor: pointer;
}

.homeImage_2 {
  --s: 1vw; /* size of the frame */
  --b: 0.15vw; /* border thickness */
  --w: 20vw; /* width of the image */
  --c: #ffffff;

  width: var(--w);
  aspect-ratio: 1;
  object-fit: cover;
  padding: calc(2 * var(--s));
  --_g: var(--c) var(--b), #81818100 0 calc(100% - var(--b)), var(--c) 0;
  background: linear-gradient(var(--_g)) 50%/100% var(--_i, 100%) no-repeat,
    linear-gradient(90deg, var(--_g)) 50% / var(--_i, 100%) 100% no-repeat;
  outline: calc(var(--w) / 2) solid rgba(134, 134, 134, 0.165);
  outline-offset: calc(var(--w) / -2 - 2 * var(--s));
  transition: 0.4s;
  cursor: pointer;
}
.homeImage_2:hover {
  outline: var(--b) solid var(--c);
  outline-offset: calc(var(--s) / -2);
  --_i: calc(100% - 2 * var(--s));
}
.homeImage_1:hover {
  outline: var(--b) solid var(--c);
  outline-offset: calc(var(--s) / -2);
  --_i: calc(100% - 2 * var(--s));
}
@media (max-width: 1370px) {
}

@media (max-width: 1200px) {
  .homeImage_1 {
    --s: 15px; /* size of the frame */
    --b: 2px; /* border thickness */
    --w: 55vw; /* width of the image */
    --c: #ffffff;

    width: var(--w);
    aspect-ratio: 1;
    object-fit: cover;
    padding: calc(2 * var(--s));
    --_g: var(--c) var(--b), #81818100 0 calc(100% - var(--b)), var(--c) 0;
    background: linear-gradient(var(--_g)) 50%/100% var(--_i, 100%) no-repeat,
      linear-gradient(90deg, var(--_g)) 50% / var(--_i, 100%) 100% no-repeat;
    outline: calc(var(--w) / 2) solid rgba(134, 134, 134, 0.165);
    outline-offset: calc(var(--w) / -2 - 2 * var(--s));
    transition: 0.4s;
    cursor: pointer;
  }

  .homeImage_2 {
    --s: 1vw; /* size of the frame */
    --b: 0.15vw; /* border thickness */
    --w: 35vw; /* width of the image */
    --c: #ffffff;

    width: var(--w);
    margin-left: -14vw;
    aspect-ratio: 1;
    object-fit: cover;
    padding: calc(2 * var(--s));
    --_g: var(--c) var(--b), #81818100 0 calc(100% - var(--b)), var(--c) 0;
    background: linear-gradient(var(--_g)) 50%/100% var(--_i, 100%) no-repeat,
      linear-gradient(90deg, var(--_g)) 50% / var(--_i, 100%) 100% no-repeat;
    outline: calc(var(--w) / 2) solid rgba(134, 134, 134, 0.165);
    outline-offset: calc(var(--w) / -2 - 2 * var(--s));
    transition: 0.4s;
    cursor: pointer;
  }
}

/* @media (max-width:1160px) {

} */

@media (max-width: 991px) {
  .homeImage_2 {
    margin-left: -13vw;
  }
  .MuiTabs-root {
    max-width: 100% !important;
  }
  .MuiTabs-flexContainer {
    display: flex !important;
    justify-content: space-around !important;
  }
  .css-34381o-MuiButtonBase-root-MuiTab-root {
    padding: 10px 16px;
  }
}

@media (max-width: 1020px) {
}

@media (max-width: 767px) {
  .homeImage_2 {
    margin-left: -12vw;
  }
  .css-34381o-MuiButtonBase-root-MuiTab-root {
    padding: 10px 1px;
    font-size: 1px;
  }
  .plans_tabs button {
    font-size: 13px !important;
    min-height: 35px;
    padding: 6px;
  }
}

@media (max-width: 600px) {
  .homeImage_1 {
    --s: 15px; /* size of the frame */
    --b: 2px; /* border thickness */
    --w: 55vw; /* width of the image */
    --c: #ffffff;

    width: var(--w);
    aspect-ratio: 1;
    object-fit: cover;
    margin-left: 10vw;
    padding: calc(2 * var(--s));
    --_g: var(--c) var(--b), #81818100 0 calc(100% - var(--b)), var(--c) 0;
    background: linear-gradient(var(--_g)) 50%/100% var(--_i, 100%) no-repeat,
      linear-gradient(90deg, var(--_g)) 50% / var(--_i, 100%) 100% no-repeat;
    outline: calc(var(--w) / 2) solid rgba(134, 134, 134, 0.165);
    outline-offset: calc(var(--w) / -2 - 2 * var(--s));
    transition: 0.4s;
    cursor: pointer;
  }
  .homeImage_2 {
    --s: 1vw; /* size of the frame */
    --b: 0.15vw; /* border thickness */
    --w: 35vw; /* width of the image */
    --c: #ffffff;

    width: var(--w);
    margin-left: -14vw;
    aspect-ratio: 1;
    object-fit: cover;
    padding: calc(2 * var(--s));
    --_g: var(--c) var(--b), #81818100 0 calc(100% - var(--b)), var(--c) 0;
    background: linear-gradient(var(--_g)) 50%/100% var(--_i, 100%) no-repeat,
      linear-gradient(90deg, var(--_g)) 50% / var(--_i, 100%) 100% no-repeat;
    outline: calc(var(--w) / 2) solid rgba(134, 134, 134, 0.165);
    outline-offset: calc(var(--w) / -2 - 2 * var(--s));
    transition: 0.4s;
    cursor: pointer;
  }
}

.navLink {
  text-decoration: none !important;
}

.selectedNav {
  color: #b12930;
  border-color: #b12930;
  background-color: rgb(255, 255, 255, 0);
}
.selectedDrawerNav {
  background-color: #b12930;
  color: #fff;
}
