.Header_Image_Wrapper{
  background-image: url("../public/Images/1.png");
  background-repeat: no-repeat;
  background-position: left;
  background-attachment: fixed;
  min-height: 100vh;
}
.Header_AppBar{
  background-color:rgb(255,255,255,0.1);
  box-shadow: none;

}
.Header_Menu_Item{
  color: rgb(111, 6, 6);
}
