/* @import "./globals.css"; */

.Home_Container {
  margin: 0;
  padding: 0;
  background-image: url("../public/Images/1.png"), url("../public/Images/home_back_img2.png");
  background-repeat: no-repeat;
  background-position: left top, right top;
  background-size: 70vh;
  min-height: 100vh;
  /* width: 100vw; */
}
.Header_AppBar {
  background-color: rgb(255, 255, 255, );
  box-shadow: none;
}
.Header_Menu_Item {
  color: rgb(111, 6, 6);
}
.heading {
  /* background-color: red; */
  font-size: var(--font-size-lgi);
  font-family: var(--head-font);
}
